<!DOCTYPE html>
<html>
  <head>
    <%- include("../components/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <%- include("../components/sidebar.ejs") %>

      <div id="page-content-wrapper">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
        >
          <button class="btn btn-secondary" id="menu-toggle">
            Toggle Sidenav
          </button>
        </nav>

        <div class="main-content">
          <div class="container-fluid">
            <!-- prettier-ignore -->
            <% if (path === routes.dashboard.links) { %>
              <%- include('../components/links-table.ejs') %> 
            <% } else if (path === routes.dashboard.profile) { %>
              <%- include('../components/user-profile.ejs') %> 
            <% } else if (path === routes.dashboard.home) { %>
              <%- include('../components/dashboard-analytics.ejs') %> 
            <% } else if (path === routes.dashboard.editLink(':id')) { %>
              <%- include('../components/edit-link-form.ejs') %>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <%- include("../components/scripts.ejs") %>
  </body>
</html>
